.navbar:after {
  display: none;
}
.iframe-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  min-height: 100%;
  margin-bottom: 1px;
  position: relative;
}
.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  // overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tabbar-fixed .page-content,
.tabbar-through .page-content,
.toolbar-fixed .page-content,
.toolbar-through .page-content,
.page-content {
  padding-bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
}